[Service]
LoadCredential=worker.crt:/etc/orishu/pki/worker.crt
LoadCredential=worker.key:/etc/orishu/pki/worker.key
ExecStart=
ExecStart=/usr/bin/orishu-worker --config /etc/orishu/orishu-worker.conf --tls-cert=%d/worker.crt --tls-key=%d/worker.key
